*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #F5F5F5;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    background-color: #131313;
}
header{
    background-color: #58256e;
    color: #F5F5F5;
    padding: 0.75rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
    .header a{
        color: #cfaa00;
        text-decoration: none;
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    height: 50px;;
}
    .logo img{
        max-height: 50px;
    }

.buscador{
    justify-content: space-between;
    align-items: center;
}

.buscador input{
    border-radius: 10px;
    transition: 5s;
    content: Buscar Producto;
    width: 300px;
    height: 20px;
}
    
.buscador input:focus{
    background: white;
    border-color: #cfaa00;
}
    
.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;;
}
    .navigation ul li{
        display: inline-block;
        align-items: center
    }
        .navigation ul li a{
            display: block;
            padding: 0.25rem 0.5rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
        .navigation ul li a:hover{
            background-color: #cfaa00;
            color: #58256e;
        }

.main{
    padding-top: 7rem;
}


.form-register{
    width: 400px;
    background:#5691a4;
    padding: 30px;
    margin: auto;
    margin: top 100px;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #131313;
}
.form-register h4{
    font: size 22px;
    margin: bottom 20px;
}
.controls{
    width: 100%;
    border:1px solid #cfaa00;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}
.form-register p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}
.form-register a{
    color: white;
    text-decoration: none;
}
.form-register a:hover{
    color: white;
    text-decoration: underline;
}
.form-register.botons{
    width: 100%;
    background: #5691a4;
    border: none;
    padding:12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
}



.footer{
    margin-top: 6rem;
    background-color: #58256e;
    color: #F5F5F5;
    padding: 4rem;
    text-align: center;
}
