body {
    font-family: 'Poppins', sans-serif;
    color: #F5F5F5;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    width: 100%;
    background-color: #131313;
    
}


h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    font-size: 2rem;
}
h2{
    font-family: 'Montserrat', sans-serif;
    line-height: 1em;
    font-size: 1.5rem;
}

p {
    margin-bottom: 2em;
}

.container {
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}

.landing {
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.call {
    display: inline-block;
    box-sizing: border-box;
    width: 50%;
}
.landing img{
    padding-left: 30px;
    max-width: 45%;
    box-shadow: 20px rgba(0, 0, 0, 0.4);
}
.botones{
    display: flex;
    justify-content: space-between;
}
.ingreso{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#F5F5F5;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    border-color: #F5F5F5;
    border-radius: 30px;
    transition: all 300ms ease;
}

.ingreso:hover{    
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#131313;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    border-width: 3px;
    border-style: solid;
    border-color: #cfaa00;
    background-color: #cfaa00;  
    border-radius: 30px;    
}

.registro{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#131313;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: #F5F5F5;
    border-width: 3px;
    border-style: solid;
    border-color: #F5F5F5;    
    border-radius: 30px;
    transition: all 500ms ease;
}

.registro:hover{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#131313;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    border-width: 3px;
    border-style: solid;
    border-color: #cfaa00;
    background-color: #cfaa00;
    border-radius: 30px;
}

.destacado{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F9F9F9;
}

.destacado h1{
    text-align: center;
    color: #131313;
}
.destacado img{
    max-width: 810px;
}

  #slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    padding-bottom: 50px;
    border-radius: 4px;
    background-color: transparent;
  }
  
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
  }
  
  #slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 300px;
    text-align: center;
    line-height: 300px;
  }
  
  a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #2a2a2a;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.8;
    cursor: pointer;
  }
  
  a.control_prev:hover, a.control_next:hover {
    opacity: 1;
  }
  
  a.control_prev {
    border-radius: 0 2px 2px 0;
  }
  
  a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
  }
  
  .slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
  }
.recomendados{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    margin-bottom: 50px;
}
.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 1em;
}

.productos img{
    max-width: 350px;
}

.card{
    text-align: center;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #F5F5F5;
    transition: all 200ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.recomendados h1{    
    text-align: center;
}

.otrosProd{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    margin-bottom: 50px;
}

.otrosProd h1{    
    text-align: center;
}

.productoss{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    line-height: 1em;
}

.productoss img{
    margin: 10px;
    max-width: 200px;
    border-radius: 15px;
}

.cards{
    text-align: center;
    width: 85%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 15px;
    overflow: hidden;
    background-color: #f5f5f5;
    transition: all 200ms ease;
}

.cards:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}

.linea{
    margin: 0 auto;
    margin-bottom: 60px;
    max-width: 35%;
    border-radius: 3px;
    border-style: solid;
    border-width: 3px 0px 0px 0px;
    border-color: #F5F5F5;
}

/* newsletter */

.newsletter{
    margin-bottom: 50px;
}

.newsletter h1{    
    text-align: center;
}
.newsletter form {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 15px;
  }
  
.newsletter input[type="email"]{
    padding: 4px;
    height: 25px;
    width: 250px;
    border-radius: 30px;
  }
.subs{    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 30px;    
    text-decoration:none;
    font-size: 15px;
    color:#cfaa00;
    padding-top:1px;
    padding-bottom:1px;
    padding-left:10px;
    padding-right:10px;
    background-color: transparent;
    border: solid;
    border-width: 3px;
    border-color: #cfaa00;
    border-radius: 30px;        
    transition: all 300ms ease;
}
.subs:hover{
    color: #131313;
    border-color: #cfaa00;
    background-color: #cfaa00; 
}

.callback{
    margin-bottom: 75px;
    text-align: center;
}

.callback p{
    max-width: 75%;
    margin: 0 auto;
}

.botonesCB{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.header-fixed {
    background-color: #58256e;
    padding: 20px 40px;
    height: 80px;
    color: #ffffff;
    box-sizing: border-box;
    top: -100px;

    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}

.header-fixed .header-limiter {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

/*	The header placeholder. It is displayed when the header is fixed to the top of the
	browser window, in order to prevent the content of the page from jumping up. */

.header-fixed-placeholder {
    height: 80px;
    display: none;
}

/* Logo */

.header-fixed .header-limiter h1 {
    float: left;
    font: normal 28px Cookie, Arial, Helvetica, sans-serif;
    line-height: 40px;
    margin: 0;
}

.header-fixed .header-limiter h1 span {
    color: #5383d3;
}

/* The navigation links */
.header-fixed .header-limiter a {
    color: #ffffff;
    text-decoration: none;
}

.header-fixed .header-limiter nav {
    font: 16px Arial, Helvetica, sans-serif;
    float: right;
    line-height: 3;

}

.header-fixed .header-limiter nav a {
    display: inline-block;
    padding: 0 5px;
    text-decoration: none;
    color: #ffffff;
    opacity: 0.9;
}

.header-fixed .header-limiter nav a:hover {
    opacity: 1;
}

.header-fixed .header-limiter nav a.selected {
    color: #608bd2;
    pointer-events: none;
    opacity: 1;
}

body.fixed .header-fixed {
    padding: 10px 40px;
    height: 50px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

body.fixed .header-fixed-placeholder {
    display: block;
}

body.fixed .header-fixed .header-limiter h1 {
    font-size: 24px;
    line-height: 30px;
}

body.fixed .header-fixed .header-limiter nav {
    line-height: 28px;
    font-size: 13px;
}

.logo {
    background-size: 44px 31px;
    width: 200px;
   
    top: 8px;
    left: 10px;
}

.logo img {
    max-height: 50px;
}

.buscadorr{
    align-items: center;
}

#buscadorPrincipal{
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
    height: 25px;
    border-radius: 10px;
    width: 250px;
}
#btnBuscar{
    border-radius: 15px;
    height: 35px;
}

.container2{
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding-top: 50px;
}

.contenido{
    display: flex;
    align-content: space-between;
}

.contactos{
    padding: 30px;
    padding-top: 0%;
}

.footer ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
    background-color: #58256e;
    color: #F5F5F5;
  position: relative;
}
.footer-cta {
    padding-bottom: 25px;
  border-bottom: 1px solid #F5F5F5;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #f5f5f5;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 25px;
  position: relative;
  z-index: 2;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-social-icon span {
  color: #f5f5f5;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget ul li {
  display: inline-block;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #cfaa00;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.copyright-area{
    text-align: center;
  background: #131313;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #cfaa00;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #cfaa00;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}

/* Making the header responsive */

@media all and (max-width: 600px) {

    .header-fixed {
        padding: 20px 0;
        height: 75px;
    }

    .header-fixed .header-limiter h1 {
        float: none;
        margin: -8px 0 10px;
        text-align: center;
        font-size: 24px;
        line-height: 1;
    }

    .header-fixed .header-limiter nav {
        line-height: 4;
        float: none;
    }

    .header-fixed .header-limiter nav a {
        font-size: 13px;
    }

    body.fixed .header-fixed {
        display: none;
    }

}

.main {
    padding-top: 7rem;
}


@media only screen and (max-width:767px) {
    .menu-icon {
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation {
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul {
        display: none;
    }

    .navigation ul.show {
        display: block;
    }

    .navigation ul li {
        display: block;
    }

    .navigation ul li a {
        display: block;
        padding: 0.5rem;
        transition: all 0.4s linear;
        border-radius: 5px;
    }

    .navigation ul li a:hover {
        background-color: #5691a4;
    }
    
}