body{
    font-family: 'Poppins', sans-serif;
    color: #F5F5F5;
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    background-color: #131313;
}
h1{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3em;
    font-size: 0.9rem;
}
p{
    margin-bottom: 1.6em;
}
.container{
    width: 85%;
    max-width: 850px;
    margin: 0 auto;
}
.landing{
    background-color: #09ff00;
    left: 0;
    top: 0;
    width: 100%;
}
.call{
	background-color: #a22;    
	display: inline-block;
    box-sizing: border-box;
    width: 50%;
}
.botones{
    padding-right: 20px;
}
.carrusel-call{
    
	background-color: #f22;
}

.header{
    background-color: #58256e;
    color: #F5F5F5;
    padding: 0.75rem 0;

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
    .header a{
        color: #cfaa00;
        text-decoration: none;
    }

.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    height: 50px;;
}
    .logo img{
        max-height: 50px;
    }

.buscador{
    justify-content: space-between;
    align-items: center;
}

.buscador input{
    border-radius: 10px;
    transition: 5s;
    content: Buscar Producto;
    width: 300px;
    height: 20px;
}
    
.buscador input:focus{
    background: white;
    border-color: #cfaa00;
}
    
.menu-icon{
    display: none;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;;
}
    .navigation ul li{
        display: inline-block;
        align-items: center
    }
        .navigation ul li a{
            display: block;
            padding: 0.25rem 0.5rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
        .navigation ul li a:hover{
            background-color: #cfaa00;
            color: #58256e;
        }

.main{
    padding-top: 7rem;
}

.footer{
    margin-top: 6rem;
    background-color: #58256e;
    color: #F5F5F5;
    padding: 4rem;
    text-align: center;
}

@media only screen and (max-width:767px){
    .menu-icon{
        display: block;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }
    .navigation {
        width: 100%;
        margin-top: 1rem;
    }
    .navigation ul{
        display: none;
    }
    .navigation ul.show{
        display: block;
    }
    .navigation ul li{
            display: block;
        }
            .navigation ul li a{
                display: block;
                padding: 0.5rem;
                transition: all 0.4s linear;
                border-radius: 5px;
            }
            .navigation ul li a:hover{
                background-color: #5691a4;
            }
}