<!DOCTYPE html>
<html lang="es">

<head>
    <title>
        GOLDRINK - Absolut Extrakt
    </title>
    <link rel="icon" type="image/png" href="D:\Joako\Documents\Programación FS\Proyecto-Integrador-DH\icon-Goldrink.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/product-detail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,300,0,0" />
    <script src="https://kit.fontawesome.com/c99fc80025.js" crossorigin="anonymous"></script>

</head>


<body>
    <header>
        <%- include('./partials/header.ejs')%>
    </header>
    <main class="main">
        <section class="section-1-0">
            <section class="section-1">

                <div>
                    <div class="imagen-producto">
                        <img src="/img/absolut.jpg">
                    </div>
                </div>
                <div class="info-producto">
                    <div class="div-tit-price">
                        <h1 class="nombre-producto"> Absolut Extrakt</h1>
                        <span class="precio">$12.345,67</span>
                        <span class="descuento">15% off</span>
                    </div>
                    <div class="zona-botones">
                        <ul>
                            <li><span class="material-symbols-rounded">
                                credit_card
                            </span>Cuotas sin interés</li>
                            <li><span class="material-symbols-outlined">
                                security
                            </span>Garantía</li>
                            <li><span class="material-symbols-rounded">
                                shopping_bag
                            </span>Disponibilidad de stock</li>
                        </ul>
                    </div>
                    <div class="botones">
                        <a href="/product_cart"><button class="boton-comprar">Comprar ahora</button></a>
                        <br>
                        <a href="#"><button class="boton-carrito">Agregar al carrito</button></a>
                    </div>
                    <div class="descripcion-producto">
                        <h3>Descripción:</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, iusto. Laboriosam facere quod maxime distinctio commodi quas sit consectetur aperiam non autem ea, quam labore, rem animi impedit, culpa quae.
                        </p>
                    </div>
                </div>
            </section>
            <div class="descripcion-producto-2">
                <h3>Descripción del producto:</h3>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero, iusto. Laboriosam facere quod maxime distinctio commodi quas sit consectetur aperiam non autem ea, quam labore, rem animi impedit, culpa quae.
                </p>
            </div>
        </section>
        <div class="otros-productos">
            <h4>Otros productos</h4>
        </div>
        <section class="articulos">
            <div class="slider-button">
                <span class="material-symbols-outlined">
                    chevron_left
                </span>
            </div>
            <article class="producto">
                <div class="img-producto">
                    <img src="/img/champagne.jpg">
                </div>
                <div class="desc-product-2">
                    <span class="precio-2">$23.200</span>
                    <span class="descuento-2">5% off</span>
                    <h6 class="nombre-producto-2">Champagne</h6>
                </div>
            </article>
            <article class="producto">
                <div class="img-producto">
                    <img src="/img/Tequila.jpg">
                </div>
                <div class="desc-product-2">
                    <span class="precio-2">$23.200</span>
                    <span class="descuento-2">5% off</span>
                    <h6 class="nombre-producto-2">Tequila</h6>
                </div>
            </article>
            <article class="producto">
                <div class="img-producto">
                    <img src="/img/whisky.jpg">
                </div>
                <div class="desc-product-2">
                    <span class="precio-2">$23.200</span>
                    <span class="descuento-2">5% off</span>
                    <h6 class="nombre-producto-2">Whisky</h6>
                </div>
            </article>
            <article class="producto">
                <div class="img-producto">
                    <img src="img/perignon.jpg">
                </div>
                <div class="desc-product-2">
                    <span class="precio-2">$23.200</span>
                    <span class="descuento-2">5% off</span>
                    <h6 class="nombre-producto-2">Perigron</h6>
                </div>
            </article>
            <div class="slider-button">
                <span class="material-symbols-outlined">
                    chevron_right
                    </span>
            </div>
        </section>

    </main>
    <footer class="footer">
        <div class="container">
            <p>Página Diseñada por G4</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="scripts.js"></script>
</body>

</html>